<%- include('../../partials/header') %> <%-
include('../../partials/navbar') %> <%-
include('../../partials/popupConfDelete')%>

<div class="container">
  <hr />
  <h2>Artigos</h2>
  <a class="btn btn-success" href="/admin/articles/new"
    >Criar novo artigo</a
  >
  <hr />
  <table class="table table-bordered mx-auto" style="width: 80%">
    <thead class="text-center align-middle">
      <tr>
        <th>Id</th>
        <th>Título</th>
        <th>Slug</th>
        <th>Category</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% articles.forEach((article) => { %>
      <tr class="text-center align-middle">
        <td><%= article.id %></td>
        <td><%= article.title %></td>
        <td><%= article.slug %></td>
        <td><%= article.category.title %></td>
        <td>
          <div class="d-flex justify-content-center">
            <a
              class="btn btn-warning align-middle me-2 flex-grow-1 w-50"
              href="/admin/articles/edit/<%= article.id %>"
              >Editar</a
            >
            <form
              method="POST"
              action="/articles/delete"
              onsubmit="confirmarDelete(event, this)"
            >
              <input type="hidden" name="id" value="<%= article.id %>" />
              <button class="btn btn-danger align-middle flex-grow-1">
                Excluir
              </button>
            </form>
          </div>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include('../../partials/alertArt')%> <%-
include('../../partials/footer')%>
