<%- include('../../partials/header') %> <%-
include('../../partials/navbar') %> <%-
include('../../partials/popupConfDelete')%>

<div class="container">
  <hr />
  <h2>Categorias</h2>
  <a class="btn btn-success" href="/admin/categories/new"
    >Criar nova categoria</a
  >
  <hr />
  <table class="table table-bordered mx-auto" style="width: 80%">
    <thead class="text-center align-middle">
      <tr>
        <th>Id</th>
        <th>Título</th>
        <th>Slug</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% categories.forEach(category => { %>
      <tr>
        <td class="text-center align-middle"><%= category.id %></td>
        <td class="text-center align-middle"><%= category.title %></td>
        <td class="text-center align-middle"><%= category.slug %></td>
        <td class="text-center align-middle">
          <div class="d-flex justify-content-center">
            <a
              class="btn btn-warning align-middle me-2 flex-grow-1 w-50"
              href="/admin/categories/edit/<%= category.id %>"
              >Editar</a
            >
            <form
              method="POST"
              action="/categories/delete"
              onsubmit="confirmarDelete(event, this)"
            >
              <input type="hidden" name="id" value="<%= category.id %>" />
              <button class="btn btn-danger align-middle flex-grow-1">
                Excluir
              </button>
            </form>
          </div>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include('../../partials/footer')%>
